.todo-title{
    text-align: center;
}
.todo-item{
    display: block;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.todo-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}
.todo-item li{
    display: block;  
}
.todo-input{
    display: flex;
    justify-content: space-between;
}
.todo-input label{
    font-weight: 700;
}
.todo-form{
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    width: 350px;
}
.todo-item.done{
color: green;
}
.todo-item.time-over{
    color: rgb(221, 117, 117)
}