.page-title{
    text-align: center;
    margin-bottom: 30px;
}
.list-title{
    padding-bottom: 20px;
}
.shop-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.shop-item{
    background-color: rgb(252, 252, 240);
    border-bottom: 1px solid black;
    width: 280px;
    display: flex;
    justify-content: space-between;
    
}
.ends{
    text-decoration: line-through;
    color: brown;
}
.form-add-product{
    display: flex;
    justify-content: center;
}
.edit-product-form{
    display: flex;
    gap: 10px;
}
.edit-product{
    width: 80px;
}